.btnGroup{
    display: flex;
    margin-left: auto;
}
.Title{
    display: flex;
    margin: auto;
    padding: 2rem;
    border-bottom: 1px solid gray;
    align-items: center;
}
.container{
    border:1px solid gray ;
    width: 40%;
    margin: auto;
}